html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

font-family: "Frank Ruhl Libre", serif;
font-family: "Open Sans", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "PT Sans", sans-serif;

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

body {
	background-color: rgba(0, 0, 0, 0.94);
}
.preloader {
	/*фиксированное позиционирование*/
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* фоновый цвет элемента */
	background: black;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 1001;
}

.preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: white;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloader-bounce {
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .preloader {
	display: none;
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.image-slider {
}
.image-slider__wrapper {
	display: flex;
	align-items: center;
}
.image-slider__slide {
}
.image-slider__image {
	text-align: center;
}
.image-slider__image img {
	width: 100%;
	max-height: auto;
	max-width: 550px;
}

.slider2 img,
.slider4 img,
.slider8 img,
.slider10 img,
.slider15 img,
.slider16 img {
	max-width: 1200px;
}

@media only screen and (max-width: 1024px) {
	body._touch .image-slider__image img {
		max-width: 700px;
	}

	body._touch .slider2 img,
	body._touch .slider4 img,
	body._touch .slider8 img,
	body._touch .slider10 img,
	body._touch .slider15 img,
	body._touch .slider16 img {
		max-width: 900px;
	}
}

@media only screen and (max-width: 768px) {
	body._touch .image-slider__image img {
		max-width: 600px;
	}
	body._touch .slider2 img,
	body._touch .slider4 img,
	body._touch .slider8 img,
	body._touch .slider10 img,
	body._touch .slider15 img,
	body._touch .slider16 img {
		max-width: 700px;
	}
}
